* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }

 body {
    background-color: rgb(32, 30, 30);
 }

 .box-txt{
    background-color: rgb(1, 71, 17);
    border-radius: 10px;
    box-shadow: 12px 12px 0 0 rgba(10, 10, 10, 0.534);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 2rem;
 }

 .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 1rem;
    gap: 6%;
}

 .box-img {
    height: 200px;
    width: 200px;
    background-color: aqua;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid aqua;

 }

.box-img img {
   max-width: 200px;
   

}
 .sobre {
   
 }

 .box-button {
   margin-top: 5%;
 }

 button {
    padding: 1.5rem 4rem;
    font-size: 20px;
    color: rgb(6, 39, 14);
    font-weight: bold;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 8px 7px 10px 8px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 8px 7px 10px 8px rgba(0,0,0,0.50);
    box-shadow: 8px 7px 10px 8px rgba(0,0,0,0.50);
    cursor: pointer;
    transition: 0.6s ease-in;
 }

 button:hover {
    background-color: rgb(1, 161, 161);
    color: rgb(0, 0, 0);
 }

 h1 {
    font-size: 30px;
    max-width: 45%;
 }

 h1 span {
    font-weight: bold;
    color: rgb(106, 248, 248);

 }

 .text {
    display: none;
 }